@charset "utf-8";


/*테스트*/
.test-popup{background:#fff;}

/*기본템플릿코드 수정*/
.sum-mo .MuiContainer-root{padding:0;}
.sum-mo .MuiSvgIcon-root{vertical-align: middle;}
.sum-mo .MuiAlert-filled div{color:#fff;}

/*공통*/
.margin-layout{margin-left: 20px;margin-right: 20px;padding-top:25px;}
.line-box{border:1px solid rgba(0, 0, 0, 0.12);border-radius:4px;padding:20px;}
.line-box + .line-box{margin-top:25px;}
.line-box.on{border:2px solid #2196F3}
.fixed-header{position: fixed;top:0;z-index: 999;background:#fff;border-bottom:1px solid rgba(0, 0, 0, 0.12);}
.fixed-header-layout{padding-top:112px;}
.fixed-bottom{background:#fff;position: fixed;bottom:0;z-index: 99;border-top: 1px solid rgba(0, 0, 0, 0.04);}
.fixed-bottom button{height:42px;font-size:14px}
.fixed-bottom-layout{padding-bottom:85px;}
.fixed-bottom-alert{position:absolute;width:90%;bottom: 100px;left: 50%;transform: translateX(-50%);}
.full-btn{padding:20px;}
.full-btn button{width:100%;}
.form-layout .MuiFormGroup-root + .MuiFormGroup-root{margin-top:20px;}
.form-layout .MuiInputBase-input{font-size:16px;}
.form-layout .MuiFormLabel-root{font-size:1.2rem;}
.txt-list{margin-top:25px;color: #808080;line-height:22px;padding:0 10px}
.txt-list > li {position: relative;padding-left: 12px;}
.txt-list > li:before {content: "";display: inline-block;position: absolute;top:8px;left:0;width:3px;height:3px;border-radius:100%;background:rgba(0, 0, 0, 0.6)}
.flex-box{display:flex;}
.step{display:flex;}
.step li + li{margin-left:10px}
.step span.on{background:#2196f3;}
.step span{width:15px;height:15px;display:block;background:rgba(0, 0, 0, 0.12);border-radius:50%;}

/*button*/
.btn{height:42px;font-size:16px;font-weight:600;}
.btn-lgray{border-color:rgba(0, 0, 0, 0.12);color:rgba(0, 0, 0, 0.38)}
.btn-gray{border-color:rgba(0, 0, 0, 0.6);color:rgba(0, 0, 0, 0.6)}
.btn.Mui-disabled{color:rgba(0, 0, 0, 0.38);}